<div class="site-footer gt-c-content-color-first">
    <div class="footer-main">
        <span>
            <div class="itbob-github-badge">
                <span class="badge-subject">
                    <i class="fas fa-user"></i> UV
                </span>
                <span class="badge-value bg-pink" id="busuanzi_value_site_uv"></span>
            </div>
            <div class="itbob-github-badge">
                <span class="badge-subject">
                    <i class="fas fa-user-plus"></i> PV
                </span>
                <span class="badge-value bg-blue" id="busuanzi_value_site_pv"></span>
            </div>
            <div class="itbob-github-badge">
                <span class="badge-subject">
                    <i class="fa fa-keyboard"></i> Word Count
                </span>
                <span class="badge-value bg-firebrick post-count"><%= totalcount(site) %></span>
            </div>
            <div class="itbob-github-badge">
                <span class="badge-subject">
                    <i class="fa fa-cog fa-spin"></i> Powered by
                </span>
                <span class="badge-value bg-brightgreen"><a href="https://hexo.io" target="_blank">Hexo</a></span>
            </div>
            <div class="itbob-github-badge">
                <span class="badge-subject">
                    <i class="fa fa-paper-plane"></i> Theme
                </span>
                <span class="badge-value bg-orange"><a href="https://github.com/renbaoshuo/hexo-theme-pure" target="_blank">Pure</a></span>
            </div>
        </span>
        <br/>
        <br/>
        <span style="text-align: center; float: center;">
            Copyright <i class="fa fa-copyright"></i> 2018 - <script>document.write(new Date().getFullYear());</script> <a href="https://www.itbob.cn/" target="_blank">ITBOB.CN</a> 丨
            <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
                <i class="fab fa-creative-commons"></i>
                <i class="fab fa-creative-commons-by"></i>
                <i class="fab fa-creative-commons-nc"></i>
                <i class="fab fa-creative-commons-nd"></i>
            </a> 丨
            <!-- <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">CC BY-NC-ND 4.0</a> 丨 -->
            <span id="sitetime">正在载入网站运行时间...</span>
            <script>
                function siteTime(){
                    window.setTimeout("siteTime()", 1000);
                    var seconds = 1000;
                    var minutes = seconds * 60;
                    var hours = minutes * 60;
                    var days = hours * 24;
                    var years = days * 365;
                    var today = new Date();
                    var todayYear = today.getFullYear();
                    var todayMonth = today.getMonth()+1;
                    var todayDate = today.getDate();
                    var todayHour = today.getHours();
                    var todayMinute = today.getMinutes();
                    var todaySecond = today.getSeconds();
                    /* 
                    Date.UTC() -- 返回date对象距世界标准时间(UTC)1970年1月1日午夜之间的毫秒数(时间戳)
                    year - 作为date对象的年份，为4位年份值
                    month - 0-11之间的整数，做为date对象的月份
                    day - 1-31之间的整数，做为date对象的天数
                    hours - 0(午夜24点)-23之间的整数，做为date对象的小时数
                    minutes - 0-59之间的整数，做为date对象的分钟数
                    seconds - 0-59之间的整数，做为date对象的秒数
                    microseconds - 0-999之间的整数，做为date对象的毫秒数
                    */
                    var t1 = Date.UTC(2018,08,10,17,38,00); //北京时间2018-8-10 17:38:00
                    var t2 = Date.UTC(todayYear,todayMonth,todayDate,todayHour,todayMinute,todaySecond);
                    var diff = t2-t1;
                    var diffYears = Math.floor(diff/years);
                    var diffDays = Math.floor((diff/days)-diffYears*365);
                    var diffHours = Math.floor((diff-(diffYears*365+diffDays)*days)/hours);
                    var diffMinutes = Math.floor((diff-(diffYears*365+diffDays)*days-diffHours*hours)/minutes);
                    var diffSeconds = Math.floor((diff-(diffYears*365+diffDays)*days-diffHours*hours-diffMinutes*minutes)/seconds);
                    document.getElementById("sitetime").innerHTML="小破站已运行了 "
                    + "<font style='color:#FE3C65;font-weight:bold'>" + diffYears + "</font>" + " 年 "
                    + "<font style='color:#FFA500;font-weight:bold'>" + diffDays + "</font>" + " 天 "
                    + "<font style='color:#1DBF97;font-weight:bold'>" + diffHours + "</font>" + " 小时 "
                    + "<font style='color:#8A2BE2;font-weight:bold'>" + diffMinutes + "</font>" + " 分 "
                    + "<font style='color:#007EC6;font-weight:bold'>" + diffSeconds + "</font>" + " 秒 ";
                }
                siteTime();
            </script>
        </span>
        <br/>
        <br/>
        <span>
            <img src="<%- theme.cdn_self_domain %>/public/images/logo/icp_48x48.png" class="nofancybox" alt="ICP 备案" style="width:auto; height:20px; margin-bottom:-4px"><a href="https://beian.miit.gov.cn/" target="_blank"> 鄂ICP备19003281号-7</a>丨
            <img src="<%- theme.cdn_self_domain %>/public/images/logo/mps_48x48.png" class="nofancybox" alt="MPS 公网安备" style="width:auto; height:20px; margin-bottom:-4px"><a href="https://beian.mps.gov.cn/" target="_blank"> 鄂公网安备42280202422961</a>
            <img src="<%- theme.cdn_self_domain %>/public/images/logo/moeicp_48x48.png" class="nofancybox" alt="MOE ICP" style="width:auto; height:18px; margin-bottom:-3.5px"><a href="https://icp.gov.moe/" target="_blank"> 萌国 No.20202022</a>丨
            <img src="<%- theme.cdn_self_domain %>/public/images/logo/cloudbase.png" class="nofancybox" alt="腾讯云开发 CloudBase" style="width:auto; height:18px; margin-bottom:-4px"><a href="https://cloudbase.net/" target="_blank"> CloudBase</a>丨
            <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank"><img src="<%- theme.cdn_self_domain %>/public/images/logo/upyun.png" class="nofancybox" alt="又拍云赞助云存储" style="width:auto; height:19px; margin-bottom:-4px"></a>
        </span>
    </div>
</div>

<!-- <div class="sidebar_wo" id="leimu">
    <img src="<%- theme.cdn_self_domain %>/itbob/images/footer/leimuA.png" class="nofancybox" alt="雷姆"
    onmouseover="this.src='<%- theme.cdn_self_domain %>/itbob/images/footer/leimuB.png'"
    onmouseout="this.src='<%- theme.cdn_self_domain %>/itbob/images/footer/leimuA.png'" title="回到底部">
</div>
<div class="sidebar_wo" id="lamu">
    <img src="<%- theme.cdn_self_domain %>/itbob/images/footer/lamuA.png" class="nofancybox" alt="雷姆"
    onmouseover="this.src='<%- theme.cdn_self_domain %>/itbob/images/footer/lamuB.png'"
    onmouseout="this.src='<%- theme.cdn_self_domain %>/itbob/images/footer/lamuA.png'" title="回到顶部">
</div> -->

<script>
    /* 拉姆蕾姆回到顶部或底部按钮 */
    $(function() {
        $("#leimu img").eq(0).click(function() {
            $("html,body").animate({scrollTop:$(document).height()},800);
            return false;
        });
        $("#lamu img").eq(0).click(function() {
            $("html,body").animate({scrollTop:0},800);
            return false;
        });
    });
</script>
