<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Force https -->
<% if (theme.force_https) { %>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<% } %>

<!-- Title -->
<title><%= page.archive ? `归档 - ${config.title}` : page.title ? `${page.title} - ${config.title}` : `${config.title}` %></title>

<!-- Icon -->
<link rel="icon" href="<%- url_for(theme.favicon) %>">

<!-- Fonts -->
<link rel="preload" href="//fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" as="style" onload="this.onload=null, this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"></noscript>

<!-- Font Awesome -->
<!-- https://fontawesome.dashgame.com/ -->
<link rel="stylesheet" href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/font-awesome/5.15.4/css/all.min.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<!--<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/5.15.4/css/all.min.css">-->
<!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css"> -->

<!-- jquery -->
<script src="//lib.baomitu.com/jquery/1.10.2/jquery.min.js" integrity="sha384-aBL3Lzi6c9LNDGvpHkZrrm3ZVsIwohDD7CDozL0pk8FwCrfmV7H9w8j3L7ikEv6h" crossorigin="anonymous"></script>

<% if(theme.katex) { %>
    <!-- KaTeX -->
    <!-- //cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css -->
    <link rel="stylesheet" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/KaTeX/0.15.2/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
<% } %>

<!-- Style -->
<%- css('styles/main') %>
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hexo-theme-pure@1.0.1/dist/main.css"> -->

<!-- Analytics -->
<% if (theme.web_analytics && theme.web_analytics.enable) { %>
    <% if (theme.web_analytics.google) { %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=<%= theme.google_analytics.id %>"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', '<%- theme.google_analytics.id %>');
        </script>
    <% } %>
    <% if (theme.web_analytics.baidu) { %>
        <!-- Baidu Analytics -->
        <script defer>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement('script');
                hm.src = 'https://hm.baidu.com/hm.js?<%= theme.web_analytics.baidu %>';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    <% } %>
<% } %>

<!-- Busuanzi -->
<!-- <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script> -->
<script async src="<%- theme.cdn_self_domain %>/itbob/js/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<!-- Typeit -->
<!-- https://www.typeitjs.com/ -->
<script src="//cdn.bootcdn.net/ajax/libs/typeit/8.8.4/index.umd.min.js" integrity="sha384-TU1+uEUiqd64aFdXKeDARMOyNsgqfyODhcbL2sdscyK47LRDuuS516qgq8XWCd8r" crossorigin="anonymous"></script>

<!-- Fancybox -->
<% if (theme.fancybox) { %>
    <link rel="stylesheet" href="//lib.baomitu.com/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha384-Q8BgkilbsFGYNNiDqJm69hvDS7NCJWOodvfK/cwTyQD4VQA0qKzuPpvqNER1UC0F" crossorigin="anonymous">
    <script src="//lib.baomitu.com/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha384-Zm+UU4tdcfAm29vg+MTbfu//q5B/lInMbMCr4T8c9rQFyOv6PlfQYpB5wItcXWe7" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('img').each(function() {
                if ($(this).parent().hasClass('fancybox')) return;
                if ($(this).hasClass('nofancybox')) return;
                if ($(this).hasClass('user-avatar')) return;
                if ($(this).hasClass('friend-avatar')) return;
                var alt = this.alt;
                // if (alt) $(this).after('<span class="caption">' + alt + '</span>');
                $(this).wrap('<a href="' + ($(this).attr('data-src') == null ? this.src : $(this).attr('data-src')) + '" title="点击放大图片"' + '" class="fancybox"></a>');
            });
            $(this).find('.fancybox').each(function(){
                $(this).attr('rel', 'article');
            });
        });
        $(document).ready(function() {
            $("a[href$='.jpg'],a[href$='.png'],a[href$='.gif'],a[href$='.webp']").attr('rel', 'gallery').fancybox({
                helpers : {
                    title: { type: 'inside'}
                }
            });
        });
    </script>
<% } %>

<!-- Console -->
<script>
    function makeMulti (string) {
        let l = new String(string)
        l = l.substring(l.indexOf("/*") + 3, l.lastIndexOf("*/"))
        return l
    }
    let string = function () {
      /* 
          _____                   _______                   _____          
          /\    \                 /::\    \                 /\    \         
         /::\    \               /::::\    \               /::\    \        
        /::::\    \             /::::::\    \             /::::\    \       
       /::::::\    \           /::::::::\    \           /::::::\    \      
      /:::/\:::\    \         /:::/~~\:::\    \         /:::/\:::\    \     
     /:::/__\:::\    \       /:::/    \:::\    \       /:::/__\:::\    \    
    /::::\   \:::\    \     /:::/    / \:::\    \     /::::\   \:::\    \   
   /::::::\   \:::\    \   /:::/____/   \:::\____\   /::::::\   \:::\    \  
  /:::/\:::\   \:::\ ___\ |:::|    |     |:::|    | /:::/\:::\   \:::\ ___\ 
 /:::/__\:::\   \:::|    ||:::|____|     |:::|    |/:::/__\:::\   \:::|    |
 \:::\   \:::\  /:::|____| \:::\    \   /:::/    / \:::\   \:::\  /:::|____|
  \:::\   \:::\/:::/    /   \:::\    \ /:::/    /   \:::\   \:::\/:::/    / 
   \:::\   \::::::/    /     \:::\    /:::/    /     \:::\   \::::::/    /  
    \:::\   \::::/    /       \:::\__/:::/    /       \:::\   \::::/    /   
     \:::\  /:::/    /         \::::::::/    /         \:::\  /:::/    /    
      \:::\/:::/    /           \::::::/    /           \:::\/:::/    /     
       \::::::/    /             \::::/    /             \::::::/    /      
        \::::/    /               \::/____/               \::::/    /       
         \::/____/                 ~~                      \::/____/        
          ~~                                                ~~
      */
    }
    console.log(makeMulti(string));
    console.log("\n %c ©️ ITBOB'S BLOG %c https://www.itbob.cn %c ©️ WuKong Security %c https://wukongsec.com \n", "color: #fadfa3; background: #030307; padding:5px 0;", "background: #fadfa3; padding:5px 0;", "color: #fadfa3; background: #030307; padding:5px 0;", "background: #fadfa3; padding:5px 0;")
</script>

<!-- 51.la 网站统计 2023.12.07 接入 -->
<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"3GmZ0RhJYz29jEfJ",ck:"3GmZ0RhJYz29jEfJ"})</script>
