<!-- 
          _____                   _______                   _____          
          /\    \                 /::\    \                 /\    \         
         /::\    \               /::::\    \               /::\    \        
        /::::\    \             /::::::\    \             /::::\    \       
       /::::::\    \           /::::::::\    \           /::::::\    \      
      /:::/\:::\    \         /:::/~~\:::\    \         /:::/\:::\    \     
     /:::/__\:::\    \       /:::/    \:::\    \       /:::/__\:::\    \    
    /::::\   \:::\    \     /:::/    / \:::\    \     /::::\   \:::\    \   
   /::::::\   \:::\    \   /:::/____/   \:::\____\   /::::::\   \:::\    \  
  /:::/\:::\   \:::\ ___\ |:::|    |     |:::|    | /:::/\:::\   \:::\ ___\ 
 /:::/__\:::\   \:::|    ||:::|____|     |:::|    |/:::/__\:::\   \:::|    |
 \:::\   \:::\  /:::|____| \:::\    \   /:::/    / \:::\   \:::\  /:::|____|
  \:::\   \:::\/:::/    /   \:::\    \ /:::/    /   \:::\   \:::\/:::/    / 
   \:::\   \::::::/    /     \:::\    /:::/    /     \:::\   \::::::/    /  
    \:::\   \::::/    /       \:::\__/:::/    /       \:::\   \::::/    /   
     \:::\  /:::/    /         \::::::::/    /         \:::\  /:::/    /    
      \:::\/:::/    /           \::::::/    /           \:::\/:::/    /     
       \::::::/    /             \::::/    /             \::::::/    /      
        \::::/    /               \::/____/               \::::/    /       
         \::/____/                 ~~                      \::/____/        
          ~~                                                ~~              
                                                                            
                                WWW.ITBOB.CN
-->

<!DOCTYPE html>
<html lang="<%= config.language %>">
    <head>
        <%- partial("_includes/head") %>
    </head>
    <body>
        <div class="main gt-bg-theme-color-first">
            <div class="main-content">
                <%- partial("_includes/header") %>
                <%- body %>
                <%- partial("_includes/footer") %>
            </div>
        </div>
        <!-- <a id="back-to-top" class="back-to-top show hl fa fa-arrow-up" href="javascript:void(0)" title="回到顶部"></a> -->
        <a id="back-to-top" class="back-to-top2" href="javascript:void(0)" title="回到顶部">
            <img class="nofancybox" src="<%= theme.cdn_self_domain %>/itbob/images/other/back_to_top.png"/>
        </a>
        <script>
            (function () {
                // When to show the scroll link
                // higher number = scroll link appears further down the page   
                var upperLimit = 100;
                
                // Our scroll link element
                var scrollElem = $('#back-to-top');
            
                // Scroll to top speed
                var scrollSpeed = 500;
            
                // Show and hide the scroll to top link based on scroll position   
                scrollElem.hide();
                $(window).scroll(function () {            
                    var scrollTop = $(document).scrollTop();       
                    if ( scrollTop > upperLimit ) {
                        $(scrollElem).stop().fadeTo(200, 1); // fade back in           
                    }else{       
                        $(scrollElem).stop().fadeTo(200, 0); // fade out
                    }
                });

                // Scroll to top animation on click
                $(scrollElem).click(function(){
                    $('html, body').animate({scrollTop:0}, scrollSpeed); return false;
                });
            })();
        </script>
    </body>
</html>