<!-- 
          _____                   _______                   _____          
          /\    \                 /::\    \                 /\    \         
         /::\    \               /::::\    \               /::\    \        
        /::::\    \             /::::::\    \             /::::\    \       
       /::::::\    \           /::::::::\    \           /::::::\    \      
      /:::/\:::\    \         /:::/~~\:::\    \         /:::/\:::\    \     
     /:::/__\:::\    \       /:::/    \:::\    \       /:::/__\:::\    \    
    /::::\   \:::\    \     /:::/    / \:::\    \     /::::\   \:::\    \   
   /::::::\   \:::\    \   /:::/____/   \:::\____\   /::::::\   \:::\    \  
  /:::/\:::\   \:::\ ___\ |:::|    |     |:::|    | /:::/\:::\   \:::\ ___\ 
 /:::/__\:::\   \:::|    ||:::|____|     |:::|    |/:::/__\:::\   \:::|    |
 \:::\   \:::\  /:::|____| \:::\    \   /:::/    / \:::\   \:::\  /:::|____|
  \:::\   \:::\/:::/    /   \:::\    \ /:::/    /   \:::\   \:::\/:::/    / 
   \:::\   \::::::/    /     \:::\    /:::/    /     \:::\   \::::::/    /  
    \:::\   \::::/    /       \:::\__/:::/    /       \:::\   \::::/    /   
     \:::\  /:::/    /         \::::::::/    /         \:::\  /:::/    /    
      \:::\/:::/    /           \::::::/    /           \:::\/:::/    /     
       \::::::/    /             \::::/    /             \::::::/    /      
        \::::/    /               \::/____/               \::::/    /       
         \::/____/                 ~~                      \::/____/        
          ~~                                                ~~              
                                                                            
                                WWW.ITBOB.CN
                                
                        有毛的叫程序猿，沒毛的叫程序员。
-->

<!DOCTYPE html>
<html lang="<%= config.language %>">
    <head>
        <%- partial("_includes/head") %>
    </head>
    <body>
        <div class="main gt-bg-theme-color-first">
            <div class="main-content">
                <%- partial("_includes/header") %>
                <%- body %>
                <%- partial("_includes/footer") %>
            </div>
        </div>
    </body>
</html>